<div
  [class.container]="isVerticalLayout()"
  class="toolbar text-default w-full px-6 flex items-center"
>
  <button
    (click)="openSidenav()"
    [attr.aria-label]="'toolbar.openMenu' | transloco"
    [class.hidden]="isDesktop()"
    mat-icon-button
    type="button"
  >
    <mat-icon svgIcon="mat:menu" />
  </button>

  @if (isVerticalLayout()) {
    <a
      [routerLink]="['/dashboard']"
      class="ltr:mr-4 rtl:ml-4 flex items-center"
    >
      <img alt="Logo" class="w-8 select-none" src="assets/img/logo/logo.svg" />
      <h1
        [class.hidden]="isDesktop()"
        class="text-2xl font-bold tracking-wide ltr:pl-4 rtl:pr-4 m-0 select-none"
      >
        {{ title() }}
      </h1>
    </a>
  }

  @if (isVerticalLayout() && isNavbarInToolbar()) {
    <div [class.hidden]="!isDesktop()" class="px-6 flex-none flex items-center">
      @for (item of navigationItems(); track item) {
        <app-navigation-item [item]="item" />
      }
    </div>
  }

  <span class="flex-1"></span>

  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <button
        (click)="toggleDarkMode()"
        [attr.aria-label]="
          (isDark() ? 'toolbar.lightMode' : 'toolbar.darkMode') | transloco
        "
        [matTooltip]="
          (isDark() ? 'toolbar.lightMode' : 'toolbar.darkMode') | transloco
        "
        mat-icon-button
        type="button"
      >
        <mat-icon
          [svgIcon]="isDark() ? 'mat:light_mode' : 'mat:dark_mode'"
          color="primary"
        />
      </button>
    </div>

    @if (userVisible()) {
      <div class="px-1">
        <app-toolbar-user />
      </div>
    }
  </div>
</div>

@if (isVerticalLayout() && isNavbarBelowToolbar()) {
  <app-navigation [class.hidden]="!isDesktop()" />
}
