<h2 mat-dialog-title>{{ "changePassword.title" | transloco }}</h2>

<form (submit)="$event.preventDefault(); save()" novalidate>
  <mat-dialog-content class="flex flex-col gap-3 !pt-2 min-w-105">
    <mat-form-field>
      <mat-label>{{ "changePassword.currentPassword" | transloco }}</mat-label>
      <input
        [formField]="changePasswordForm.currentPassword"
        autocomplete="current-password"
        matInput
        type="password"
      />
      @if (changePasswordForm.currentPassword().errors().length) {
        <mat-error>{{ "validation.required" | transloco }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "changePassword.newPassword" | transloco }}</mat-label>
      <input
        [formField]="changePasswordForm.password"
        autocomplete="new-password"
        matInput
        type="password"
      />
      @if (changePasswordForm.password().errors().length) {
        <mat-error>{{ "changePassword.passwordError" | transloco }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "changePassword.confirmPassword" | transloco }}</mat-label>
      <input
        [formField]="changePasswordForm.passwordConfirmation"
        autocomplete="new-password"
        matInput
        type="password"
      />
      @if (changePasswordForm.passwordConfirmation().errors().length) {
        <mat-error>{{
          (changePasswordForm.passwordConfirmation().value()
            ? "forgotPassword.passwordMismatch"
            : "validation.required"
          ) | transloco
        }}</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">
      {{ "common.cancel" | transloco }}
    </button>
    <button
      [disabled]="submitting()"
      color="primary"
      mat-flat-button
      type="submit"
    >
      {{ "changePassword.submit" | transloco }}
    </button>
  </mat-dialog-actions>
</form>
