<div class="dropdown">
  <div class="dropdown-header">
    <div class="dropdown-heading">{{ "notifications.title" | transloco }}</div>
    <div class="dropdown-subheading">
      @if (unreadCount() > 0) {
        {{ "notifications.unread" | transloco: { count: unreadCount() } }}
      } @else {
        {{ "notifications.caughtUp" | transloco }}
      }
    </div>
  </div>

  <div class="dropdown-content">
    @for (notification of notifications(); track notification.id) {
      <div
        [class.read]="notification.read"
        class="notification flex items-center"
      >
        <mat-icon
          [class]="notification.colorClass"
          [svgIcon]="notification.icon"
          class="notification-icon flex-none"
        />
        <div class="flex-auto">
          <div class="notification-label">{{ notification.label }}</div>
          <div class="notification-description">
            {{ notification.datetime | appDateFormatRelative }}
          </div>
        </div>
      </div>
    } @empty {
      <div class="py-8 px-6 text-center text-secondary text-sm">
        {{ "notifications.none" | transloco }}
      </div>
    }
  </div>

  <div class="dropdown-footer flex items-center justify-center">
    <button
      (click)="markAllAsRead()"
      [disabled]="unreadCount() === 0"
      color="primary"
      mat-button
      type="button"
    >
      {{ "notifications.markAllRead" | transloco }}
    </button>
  </div>
</div>
